image: node:16.5.0
pages:
  stage: deploy
  cache:
    key:
      files:
        - pnpm-lock.yaml
      prefix: npm
    paths:
      - node_modules/
  script:
    - npm install pnpm -g
    - pnpm run build
    - cp -a dist/. public/
  artifacts:
    paths:
      - public