image: node:latest
pages:
  stage: deploy
  variables:
    PUBLIC_URL: "/weather-app/"
  script:
    - npm install pnpm -g
    - pnpm install
    - pnpm run build
    - rm -r public
    - cp -a dist/. public/
    - cp public/index.html public/404.html
  artifacts:
    paths:
      - public
  only:
    - main